body {
    background-color: #1c1c1c;

    --login-color: #2c2c2c;
    --shadow-color: #181515;
    --button-color: #252525;
    --button-hover-color: #303030;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: max(max(3vw, 50px), min(8vw, 80px));
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 5px var(--shadow-color);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}